.banner {
  height: 90vh;
  background-image: url("./assets/banner.jpeg"),
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
}
.subscribe {
  height: 70vh;
  object-fit: cover;
  background-image: url("./assets/subscribe.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-primary {
  background-color: #19a7ce !important;
  border: 1px solid #19a7ce !important;
}
.btn-primary:hover {
  background-color: #19a7ce !important;
}
.btn-outline-primary {
  background-color: #fff !important;
  color: #19a7ce !important;
  border: 1px solid #19a7ce !important;
}
.btn-outline-primary:hover {
  background-color: #19a7ce !important;
  color: #fff !important;
  border: 1px solid #19a7ce !important;
}
.active {
  color: #19a7ce !important;
}
.bg-blur {
  background: transparent;
  backdrop-filter: blur(10px);
}
.img-border {
  border: 2px solid #19a7ce;
}
.d-text {
  color: #19a7ce !important;
}
.img-tran:hover {
  transition: all linear 0.5s;
  transform: scale(1.1);
}
